{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
| password Reset
{% endblock %}
{% block content %}
<section id="login" class="bg-light py-5">
    {% include 'partials/_alert.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>
                            <i class="fas fa-key"></i> Восстановление пароля</h4>
                    </div>

                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {% bootstrap_form  form %}
                            </div>

                            {% buttons %}
                            <button type="submit" " class=" btn btn-secondary btn-block">Далее</button>
                            {% endbuttons %}

                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}